@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

:root {
  --primary-color: purple;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  min-width: 100vw;
}

.container{
    margin: 4rem auto 7rem;
    text-align: center;
}

h1 {
  color: var(--primary-color);
}

label {
  display: block;
  padding: 0.5rem;
  font-weight: 900;
  font-size: large;
}

input {
  width: 200px;
  height: 30px;
  border: solid 2px var(--primary-color);
  border-radius: 8px;
}

button {
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border-style: none;
  border-radius: 4px;
  font-size: large;
  margin-top: 1rem;
  cursor: pointer;
}

.notes-table{
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}

caption{
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
}

th,td{
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
    width: 0%;
    padding: 0.4rem;
}

footer {
  bottom: 0;
  display: block;
  text-align: center;
}

ul, li{
  display: inline;
  margin: 1rem 0.5rem;
  
  
}
